extend ./layouts/default 

block title 
  title Koa Douban Homepage
block content
    include ./includes/header

    .container-fluid
      .sidebar
      .content
        .row
          .col-md-6
            .card
               img.card-img-top(src="http://jiangsu.kaiwind.com/kpydsy/201604/15/W020160415359513436285.jpg", 
               data-vedio="//vm.gtimg.cn/tencentvideo_v1/script/txv.core.js?max_age=604800&v=20180410")
               .card-body
                h4.card-title 这是电影标题
                p.card-desc 这是电影描述
               .card-footer
               small.text-muted 1天前更新
          .col-md-6
            .card
               img.card-img-top(src="http://jiangsu.kaiwind.com/kpydsy/201604/15/W020160415359513436285.jpg", 
               data-vedio="//vm.gtimg.cn/tencentvideo_v1/script/txv.core.js?max_age=604800&v=20180410")
               .card-body
                h4.card-title 这是电影标题
                p.card-desc 这是电影描述
               .card-footer
               small.text-muted 1天前更新